@import "tailwindcss";
@config "../../tailwind.config.ts";
@plugin "tailwindcss-animate";

@theme {
  --color-heineken-green: #007042;
  --color-heineken-dark: #005a35;
  --color-heineken-red: #FF2B00;
  --color-heineken-silver: #C0C0C0;
  --color-heineken-light: #F4F4F4;
}

@layer base {
  body {
    background-color: var(--color-heineken-light);
    color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #007042;
  border-radius: 10px;
}