@import "tailwindcss";

@theme {
  --color-heineken-green: #007042;
  --color-heineken-dark: #005a35;
  --color-heineken-red: #FF2B00;
  --color-heineken-light: #F4F4F4;
  --color-heineken-white: #FFFFFF;
}

@layer base {
  body {
    @apply bg-heineken-light text-gray-900;
  }
}