@import "tailwindcss";

@theme {
  
  --color-heineken-green: #008200; 
  --color-heineken-dark: #005e00; 

  --color-heineken-red: #FF2B00;
  --color-heineken-light: #F4F4F4;
  --color-heineken-white: #FFFFFF;
}

@layer base {
  body {
    @apply bg-heineken-light text-gray-900;
  }
}