@import "tailwindcss";

@config '../tailwind.config.ts';
@plugin "tailwindcss-animate";

@theme {
  --color-heineken-green: #007041;
  --color-heineken-dark: #003321;
  --color-heineken-red: #FF2B00;
  --color-heineken-silver: #C0C0C0;
  --color-heineken-light: #F4F4F4;
}

@layer base {
  body {
    background-color: var(--color-heineken-light);
    color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}